<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TyrionBankerDB" connectionString="Data Source=localhost;Initial Catalog=TyrionBankerDB;User Id=tyrionbanker;Password=tyrionbanker" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>