<log4net>

  <appender name="ApplicationLogDailyAppender" type="log4net.Appender.RollingFileAppender">
    <!-- "property{LogDir}" は、"exeファイルと同一フォルダ\Log" になります -->
    <!-- Enable this for Azure/Cloud -->
    <!--<file type="log4net.Util.PatternString" value="%property{LogDir}\App_" /> -->
    <!-- Disable this for Azure/Cloud -->
    <file type="log4net.Util.PatternString" value="${ProgramData}/TyrionBanker/Log/App/WebApi_" />
    <param name="DatePattern" value='yyyyMMdd".log"' />
    <param name="RollingStyle" value="Composite" />
    <param name="StaticLogFileName" value="false" />
    <param name="AppendToFile" value="true" />
    <param name="MaximumFileSize" value="20MB" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="Encoding" value="UTF-8"/>
    <param name="ImmediateFlush" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <ConversionPattern value="User:%HTTPUser&#x9;%Time:%date{yyyy/MM/dd HH:mm:ss.ffff}&#x9;Th:%thread&#x9;Lv:%level&#x9;Pos:%logger(%property{_Line})&#x9;Msg:%message&#x9;Exception:%exception&#x9;ExtValues:%property{_Values}%n" />
	  <converter>
        <name value="HTTPUser" />
        <type value="TyrionBanker.ApiWeb.LoginUserPatternConverter" />
      </converter>
    </layout>
  </appender>

  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <ConversionPattern value="%Time:%date{yyyy/MM/dd HH:mm:ss.ffff}&#x9;Th:%thread&#x9;Lv:%level&#x9;Pos:%logger(%property{_Line})&#x9;Msg:%message&#x9;Exception:%exception&#x9;ExtValues:%property{_Values}%n" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="@%-5level&gt;&gt; %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL"></level>
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="ApplicationLogDailyAppender" />
    <!--<appender-ref ref="ConsoleAppender" />-->
  </root>

</log4net>
